.banner-content {
  position: fixed;
  top: calc(var(--header-offset) + 2em);
  z-index: 999;
}

.discourse-signup-banner {
  background-color: var(--secondary);
  width: 70%;
  padding: 1em 2em;
  box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.15);
  margin: 0 auto 1em auto;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  &.not-shown {
    opacity: 0;
  }
  &-content {
    margin-right: 2em;
    width: 80%;
  }
  &-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    &-signup {
      font-size: $font-up-1;
      display: flex;
      justify-content: center;
      .sign-up-button {
        width: 100%;
      }
    }
    &-actions {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      font-size: $font-down-1;
      color: var(--tertiary-low);
      .btn {
        background: transparent;
        color: var(--primary-medium);
        padding: 0;
        &:hover {
          background: transparent;
          color: var(--primary);
        }
      }
    }
  }
}